*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
    background: url("./img/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(90%);
}
.submain{
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    background-color: black;
    opacity: 0.8;
}
.submain h1{
    text-align: center;
    margin-bottom: 50px;
    color: whitesmoke;
    font-size: 4rem;
}
.col{
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 120px;
    width: 900px;
}
.col input{
    background-color: aquamarine;
    height: 70px;
    border: none;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    width: 90px;
}
.col label{
    margin-top: 10px;
    color: whitesmoke;
    font-size: 1.5rem;
}
.col div{
    display: flex;
    flex-direction: column;
    align-items: center;
}